body{
  font-family: 'Roboto', 'Arial';
  color: white;
}

.content {
  position: relative;

  display: flex;
  align-items: flex-start ;
  justify-content: flex-end;
  height: 90vh;
}

.background {
  position: absolute;
  left: 0;
  height: 90vh;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 80px;
}

/* .info p {
  color: white;
  margin-bottom: 1rem;
  font-family: 'Roboto', 'Arial';
  font-size: 30px;
} */

input {
  border: 1px solid #999999;
  border-radius: 22px;
  color: white;
  background: transparent;

  font-size: 18px;

  width: 70%;
  min-width: 250px;
  padding: .6rem;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  color: white;
  background: #2d333b;

  font-size: 18px;
  font-family: 'Roboto', 'Arial';

  width: 20%;
  padding: .6rem;
  margin-left: 2rem;

  /* animation-duration: 4s; */
}

button:hover {
  background: #8e949c;
}

.perfil {
  display: flex;
  margin: 3rem 0;
}

.profile {
  width: 130px;
  height: 130px;
  border-radius: 75px;
  border: 2px solid #E5E5E5;
  margin-right: 2rem;
}

.perfil h3 {
  color: #999999;
  font-size: 28px;
  margin: 0;
}

.perfil span{
  display: block;
  color: #999999;
  font-size: 16px;
  margin: 0;
}

.perfil p{
  color: #999999;
  font-size: 16px;
  margin: 20px 0 0 0;
}

.repository h4 {
  margin: 1rem 0;
  font-size: 34px;
  text-align: center;
}