.content {
  position: relative;

  display: flex;
  align-items: flex-start ;
  justify-content: flex-end;
  height: 90vh;
}

.background {
  position: absolute;
  left: 0;
  height: 90vh;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 100px;
}

.info p {
  color: white;
  margin-bottom: 1rem;
  font-family: 'Roboto', 'Arial';
  font-size: 30px;
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  color: white;
  background: transparent;

  font-size: 18px;

  width: 70%;
  min-width: 250px;
  padding: .6rem;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  color: white;
  background: #2d333b;

  font-size: 18px;
  font-family: 'Roboto', 'Arial';

  width: 20%;
  padding: .6rem;
  margin-left: 2rem;

  /* animation-duration: 4s; */
}

button:hover {
  background: #8e949c;
}